@import "tailwindcss";

@theme {
    --color-primary: #404040;
    --color-body: #FFC848;
}
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #404040;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}
input[type="radio"]:checked {
    background-color: #ffc848;
    color: white;
    font-weight: bold;
}